a{
	text-decoration: none;
}
body{
	background-color: #9C27B0;
	
	display:grid;
	grid-template-rows: 80px 60px minmax(500px,1fr) 40px;
	grid-template-areas: 	"head head"
						 	"nav nav"
						 	"main main"
						 	"footer footer";
	align-content: space-around;
}
body >header{
	grid-area: head;
	background: url('../images/remember.png');
	background-size:40px;
	background-position:center;
	background-repeat: no-repeat;
	background-color: #149C5C;
	color: #FCD827;
	text-align:center;

}
h1{
	margin: 1.2em 0;
}

header{
	font-family: cursive;
}
nav{
	background-color: #9C27B0;
	grid-area: nav;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}
nav >ul{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 1fr 40px;
	align-items: start;
	list-style: none;
	justify-content: space-around;
	
}

nav > ul > li > a > img{
	height: 35px;	

}
nav > ul > li > a >img:hover{
	transform:scale(1.1);


}
#setting:hover >ul{
	display: block;
}

#menuSetting{
	list-style: none;
	background-color: #9C27B0;
	padding:0;
	max-width: 120px;
	position: absolute;
	right:5px;
	display:none;
}
#menuSetting > li{
	width: 120px;
	padding: 6px 1px 6px 1px;
	
}
#menuSetting > li:hover{
	background-color: #9B25A0;
}
#menuSetting > li >a{
	color:#f4f4f4;
}
#menuSetting > li:hover >a{
	color:#FCD837;
}
main{
	
	background-color: #009688;
	grid-area: main;
	display: grid;
	grid-template-columns: 110px 1fr;
	grid-column-gap: 15px;
}
main > #dropdown{
	display:grid;
	grid-template-rows:repeat(6, 30px);
	align-content: space-around;
}
main > #dropdown > div{
	width:40px;
	height: 35px;
	border:1px solid black;
	text-align:left;
	overflow: hidden;
	border-radius: 0 10px 10px 0;
	transition: width 2s;
}
main > #dropdown > div:hover{
	width:110px;
}
main > #dropdown > div > a{
	display: block;
	text-decoration: none;
	color:transparent;
	margin-right: 1px;
	font-size: 1.2em;
	margin-top: 2px;
	transition: 4s;
}
main > #dropdown > div:hover > a{
	color:black;
}

#showAll, .all{
	background-color: #dd4444;
}
#showFirst, .interfaces{
	background-color: #44dd44;
}
#showSecond, .servidor{
	background-color: #4444dd;
}
#showThirth, .despliegue{
	background-color: #dddd44;
}

#showFourth, .cliente{
	background-color: #aa00bb
}
#showFifth, .android{
	background-color: #dd44dd;
}
main > dropdown > div > a{
	color:red;
}
main > #container{
	overflow-y: scroll;
	display:grid;
	justify-content: space-around;
	grid-template-rows: repeat(autofit, 200px);
	align-content: space-around;
	grid-template-columns: 260px 260px 260px;
}

main > #container > article{
	padding:2px;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
	border-width: 1px 0 0 1px;
	border-color: #252525;
	border-style: solid;
}
main > #container > article:hover{
	transform:scale(1.03)
}
main > #container > article > header{
	background-color: #f4f4f4;
	text-align:center;
	color:black;

}

main > #container >article > a{
	
}
#icons{
	display: grid;
	grid-template-columns: repeat(3,30px);
	justify-content: space-around;
}
main > a {
	text-align: right;
}
main  a  img{
	width: 35px;
	height: 35px;
}
main a img:hover{
	transform: translateY(-1.08px);
}

footer{
	grid-area:footer;
	background-color: #9C27B0;
	color: #f4f4f4;
	text-align:center;
	box-shadow: 5px -5px 5px rgba(0,0,0,0.4);
}
footer a:visited, footer a:link{
	color: #ffff00;
}
footer span{
	font-size: 0.9rem;
}
footer div{
	font-size: 0.8rem;
}
